.copyright {
}

#header {
	margin: 10px;
}

#footer {
	margin: 10px;
}

ul.list li {
	list-style: none;
	margin: 3px;
	border: 1px solid #aaa;
	padding: 3px;
	background-color: #ccc;
	text-shadow1: 1px 1px 0 rgba(255,255,255,0.3);
	text-shadow1: rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(255,255,255,0.5) 0 1px, rgba(0,0,0,0.3) -1px -1px;
}
